body {
    background-color: #bb00ffba;
}

#orangerectangle {
    width: 900px;
    height: 200px;
    background-color: #ff671f;
}

#whiterectangle {
    width: 900px;
    height: 200px;
    background-color: #ffffff;
}

#greenrectangle {
    width: 900px;
    height: 200px;
    background-color: #046a38;
}

#bluecircle {
    width: 185px;
    height: 184px;
    background-color: #ffffff00;
    border-radius: 50%;
    margin-left: -98px;
    border: 8px solid #06038d;
}

#blueline {
    width: 4px;
    height: 200px;
    background-color: #06038d;
    margin-left: 450px;
}
